<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Sarah's timer</title>
    <link
     href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
     href="/public/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  </head>
  <body>
    <div style="background-color: DarkSlateGrey; color: white; padding: 10px;">
      Welcome to my Timer app!
    </div>
    <div style=" border-bottom: thick solid DarkSlateGrey; padding: 5px;">
      <a style="padding 5px;" href='about'>about</a>  <a style="padding 5px;" href='loginform'>login</a>
    </div>
    <div id='body'>
          {{{ body}}}
    </div>
  </body>
</html>
